@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(229, 23%, 23%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(/images/bg-pattern-top.svg) left -59% top 200% no-repeat,
    url(/images/bg-pattern-bottom.svg) right -57% bottom 235% no-repeat,
    hsl(185, 75%, 39%);
  background-size: 68%;

  @media (max-width: 420px) {
    background: url(/images/bg-pattern-top.svg) left 170% top -400% no-repeat,
      url(/images/bg-pattern-bottom.svg) right 170% bottom -390% no-repeat,
      hsl(185, 75%, 39%);
    background-size: 160%;
  }
}

.card {
  width: 350px;
  height: 375px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 30px 2px hsla(229, 23%, 23%, 0.3);

  &__header {
    background-image: url(/images/bg-pattern-card.svg);
    position: relative;
    height: 140px;
    img {
      position: absolute;
      top: 60%;
      left: 35%;
      border: 5px solid white;
      border-radius: 50%;
    }
  }
  &__section {
    background: white;
    padding: 70px 0 20px;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 90%);

    &--name {
      font-weight: 700;
    }
    &--age {
      font-weight: 400;
      color: hsl(0, 0%, 59%);
    }
    &--city {
      color: hsl(0, 0%, 59%);
      font-size: 0.9em;
      margin: 10px 0;
    }
  }

  &__footer {
    background-color: white;

    &--stats {
      margin: 0;
      padding: 27.5px;
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-around;

      li span {
        font-weight: 700;
      }

      li p {
        margin: 5px 0 0;
        font-size: 0.6em;
        letter-spacing: 0.15em;
        color: hsl(0, 0%, 59%);
      }
    }
  }
}
