@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(229, 23%, 23%);
  position: relative;

  background: url(../images/bg-pattern-top.svg) right 49vw bottom 35vh no-repeat,
    url(../images/bg-pattern-bottom.svg) left 49vw top 43vh no-repeat,
    hsl(185, 75%, 39%);
  background-size: 130vh, 130vh;
}

.card {
  width: 350px;
  height: 375px;
  z-index: 100;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 30px 2px hsla(229, 23%, 23%, 0.3);

  &__header {
    background-image: url(../images/bg-pattern-card.svg);
    position: relative;
    height: 140px;
    img {
      position: absolute;
      top: 60%;
      left: 35%;
      border: 5px solid white;
      border-radius: 50%;
    }
  }
  &__section {
    background: white;
    padding: 70px 0 20px;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 90%);

    &--name {
      font-weight: 700;
    }
    &--age {
      font-weight: 400;
      color: hsl(0, 0%, 59%);
    }
    &--city {
      color: hsl(0, 0%, 59%);
      font-size: 0.8em;
      margin: 10px 0;
    }
  }

  &__footer {
    background-color: white;

    &--stats {
      margin: 0;
      padding: 27.5px;
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-around;

      li span {
        font-weight: 700;
      }

      li p {
        margin: 5px 0 0;
        font-size: 0.5em;
        letter-spacing: 0.15em;
        color: hsl(0, 0%, 59%);
      }
    }
  }
}
